*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #0C111B;
    font-size: 1em;
}
header{
    width: 100%;
    .nav-blue{
        background-color: #032541;
    }
    // height: 100%;
    .navbar{
        width: 100%;
        top: 0;
        position: fixed;
        display: grid;
        transition: 0.5s ease-in-out;
        // border: 1px solid #fff;
        grid-template-columns: 2fr 1fr;
        padding: 0 50px;
        margin: 0 auto;
        min-height: 66px;
        z-index: 999;
        .nav-left{
            display: grid;
            grid-template-columns: 0.5fr 2fr;
            align-items: center;
            .menu{
                display: flex;
                align-items: center;
                li{
                    margin-left: 10px;
                    list-style: none;
                    a{
                        text-decoration: none;
                        padding: 20px 15px;
                        font-weight: 500;
                        color: #C6C8CB;
                    }
                    a:hover{
                        color: white;
                    }
                }
            }
            
        }
        .nav-right{
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr;
            margin-right: 120px;
            .info{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                li{
                    list-style: none;
                }
        
                .language{
                    .lang{
                        width: 28px;
                        height: 26px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid #C6C8CB;
                        border-radius: 3px;
                        padding: 1px 3px;
                        transition: linear.1s;
                        color: #C6C8CB;
                        font-size: 0.9em;
                        font-weight: 500;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                    .lang:hover{
                        background-color: #fff;
                        color: #0C111B;
                        border-color: #fff;
                    }
                }
                .login{
                    margin-left: 30px;
                    background-color: #1F80E0;
                    border-radius: 4px;
                    line-height: 24px;
                    height: 24px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 500;
                        padding: 0 12px;
                        font-size: 12px;
                        border: none;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
                
                .login:hover{
                    background-color: #71a7dd;
                }
                .register{
                    margin-left: 20px;
                    background-color: #1F80E0;
                    border-radius: 4px;
                    line-height: 24px;
                    height: 24px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 500;
                        padding: 0 12px;
                        font-size: 12px;
                        border: none;
                        text-transform: uppercase;
                    }
                    a:hover{
                        color: #fff;
                    }
                }
                .register:hover{
                    background-color: #71a7dd;
                }
                .search{
                    margin-left: 30px;
                    i{
                        font-size: 1.4em;
                        color: #01B4E4;
                    }
                }
            }
        }
    }
}
// banner section
.banner{
    width: 100%;
    // background-color: #71a7dd;
    .img-banner{
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        width: 92%;
        height: 400px;
        margin-top: 80px;
        margin-left: 53px;
        margin-right: 50px;
        background-color: #030B17;
        border-radius: 10px;
        .title-banner{
            box-sizing: border-box;
            z-index: 999;
            width: 100%;
            height: 400px;
            padding: 74px 51px;
            box-shadow: 60px 0 1px 1px rgba(#030B17, 0.88);
            h1{
                color: #fff;
                font-size: 1.7em;
                font-weight: 600;
            }
            h4{
                margin-top: 10px;
                color: #C6C8CB;
                font-weight: 500;
            }
            p{
                margin-top: 10px;
                color: #C6C8CB;
            }
        }
        .img-movie{
            width: 100%;
            height: 100%;

            img{
                border-radius: 10px;
                width: 100%;
                height: 90%;
                object-fit: cover;
            }
        }
    }
}
.movies{
    margin-left: 53px;
    .header-movies{
        width: 150px;
        margin-bottom: 20px;
        h3{
            color: #FFFFFF;
            cursor: pointer;
        }
        h3:hover{
            color: #0C3FC7;
        }
    }
    .movies-wrapper{
        margin-bottom: 25px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit,minmax(140px,150px));
        .card-movies{
            position: relative;
            height: 200px;
            transition: 0.4s ease-in-out;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 7px;
            }
            .desc-movie{
                top: 100px;
                left: 6px;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 9999;
                p{
                    display: none;
                    transition: 0.5s ease-in-out;
                    margin-top: 2px;
                    font-weight: 500;
                    color: white;
                    font-size: 0.6em;
                    margin-right: 7px;
                }
                p:nth-child(1){
                    font-size: 0.7em;
                }
            }
            .opacity{
                transition: 0.5s ease-in-out;
                border-radius: 10px;
                width: 100%;
                height: 0;
                top: 90px;
                position: absolute;
                background-color: rgba(#032541, 0.6);
            }
            
        }
        .card-movies:hover{
            transform: scale(1.3);
            transition-delay: 0.4s;
            z-index: 9999;
            .desc-movie{
                p{
                    transition-delay: 0.8s;
                    display: inline-block;
                }
            }
            .opacity{
                transition-delay: 0.5s;
                height: 110px;
            }
        }
        
    }
    .movies-wrapper-trailers{
        margin-bottom: 25px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit,minmax(160px,200px));
        .card-movies-trailers{

            transition: 0.4s ease-in-out;
            height: 115px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 7px;
            }
        }
        .card-movies-trailers:hover{
            transform: scale(1.3);
            transition-delay: 0.4s;
        }
    }
}
.popular{
    margin-top: 22px;
}
.detail-movie{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 0.65fr 2fr;
    
    .poster{
        margin-left: 53px;
        
        .movie-card{
            margin-top: 40px;
            width: 300px;
            height: 448px;
            background-color: black;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }
        }
        .movie-footer{
            display: grid;
            justify-content: center;
            align-content: center;
            grid-template-columns: 36px 125px;
            width: 300px;
            height: 60px;
            background-color: #032541;
            border-bottom-left-radius:7px;
            border-bottom-right-radius:7px;
            .provider{
                height: 35px;
                background-color: white;
                img{
                    border-radius: 4px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text{
                margin-left: 13px;
                h5{
                    line-height: 17px;
                    color: rgb(221, 208, 208);
                }
            }
        }
    }
    .content{
        display: grid;
        align-content: center;
        margin-left: 53px;
        margin-top: 40px;
        .title-wrapper{
            .title{
                display: flex; 
                align-items: center;   
                h1{
                    color: white;
                    font-weight: 700;
                    font-size: 35px;
                }
                span{
                    display: inline-block;
                    font-size: 32px;
                    color: #D0D0D2;
                    font-weight: 500;
                    margin-left: 7px;
                }
            }
            .info{
                color: #fff;

                display: flex;
                align-items: center;
                .genres, .runtime{
                    margin-left: 5px;
                }
                .certification{
                    margin-right: 5px;
                    border: 1px solid rgba(255,255,255,0.6);
                    color: rgba(255,255,255,0.6);
                    padding: 0 5px;
                    border-radius: 3px;
                }
            }
        }
        .action{
            margin-top: 23px;
            display: flex;
            align-items: center;
            .list{
                margin-left: 19px;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                display: grid;
                place-content: center;
                background-color: #032541;
                i{
                   color: #fff;
                   text-align: center; 
                   font-size: 0.8em;
                }
            }
            .vidio-trailer{
                display: flex;
                align-items: center;
                width: 300px;
                color: #fff;
                margin-left: 19px;
                p{
                    margin-left: 10px;
                    font-weight: 500;
                }
                i{
                    font-size: 0.9em;
                }
            }
            .chart{
                display: flex;
                align-items: center;
                .percent{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: #032541;
                    border: 4px solid #D2D531;
                    h2{
                        color: #fff;
                    }
                    p{
                        color: #fff;
                        margin-left: 2px;
                        font-size: 0.6em;
                        margin-bottom: 12px;
                        font-weight: 600;

                    }
                }
                .user-score{
                    color: #fff;
                    font-weight: 600;
                    margin-left: 10px;
                }
            }
        }
        .movie-info{
            margin-top: 25px;
            .tagline{
                font-size: 1.1em;
                font-weight: 400;
                font-style: italic;
                opacity: 0.7;
                color: #9C9BA0;
            }
            .Overview{
                color: #fff;
                font-size: 1.3em;
                font-weight: 600;
                margin-top: 15px;
            }
            p{
                color: #fff;
                font-weight: 400;
                margin-top: 12px;
            }
        }
        .people-info{
            margin-top: 22px;
            display: grid;
            justify-content: space-between;
            grid-template-columns: 1fr 1fr 1fr;
            .profile{

                p{
                    color: #fff;
                }
            }
            .profile:nth-child(2){
                display: grid;
                justify-content: center
            }
            .profile:nth-child(3){
                display: grid;
                justify-content: center;
            }
        }
    }
}










