* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #0C111B;
  font-size: 1em;
}

header {
  width: 100%;
}

header .navbar {
  width: 100%;
  top: 0;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  padding: 0 50px;
  margin: 0 auto;
  min-height: 66px;
}

header .navbar .nav-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr;
      grid-template-columns: 0.5fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-left .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-left .menu li {
  margin-left: 10px;
  list-style: none;
}

header .navbar .nav-left .menu li a {
  text-decoration: none;
  padding: 20px 15px;
  font-weight: 500;
  color: #C6C8CB;
}

header .navbar .nav-left .menu li a:hover {
  color: white;
}

header .navbar .nav-right {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-right: 120px;
}

header .navbar .nav-right .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navbar .nav-right .info li {
  list-style: none;
}

header .navbar .nav-right .info .language .lang {
  width: 28px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #C6C8CB;
  border-radius: 3px;
  padding: 1px 3px;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
  color: #C6C8CB;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

header .navbar .nav-right .info .language .lang:hover {
  background-color: #fff;
  color: #0C111B;
  border-color: #fff;
}

header .navbar .nav-right .info .login {
  margin-left: 30px;
  background-color: #1F80E0;
  border-radius: 4px;
  line-height: 24px;
  height: 24px;
}

header .navbar .nav-right .info .login a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 0 12px;
  font-size: 12px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}

header .navbar .nav-right .info .login:hover {
  background-color: #71a7dd;
}

header .navbar .nav-right .info .register {
  margin-left: 20px;
  background-color: #1F80E0;
  border-radius: 4px;
  line-height: 24px;
  height: 24px;
}

header .navbar .nav-right .info .register a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 0 12px;
  font-size: 12px;
  border: none;
  text-transform: uppercase;
}

header .navbar .nav-right .info .register a:hover {
  color: #fff;
}

header .navbar .nav-right .info .register:hover {
  background-color: #71a7dd;
}

header .navbar .nav-right .info .search {
  margin-left: 30px;
}

header .navbar .nav-right .info .search i {
  font-size: 1.4em;
  color: #01B4E4;
}

.banner {
  width: 100%;
}

.banner .img-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 2fr;
      grid-template-columns: 1.2fr 2fr;
  width: 92%;
  height: 400px;
  margin-top: 80px;
  margin-left: 53px;
  margin-right: 50px;
  background-color: #030B17;
  border-radius: 10px;
}

.banner .img-banner .title-banner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 999;
  width: 100%;
  height: 400px;
  padding: 74px 51px;
  -webkit-box-shadow: 60px 0 1px 1px rgba(3, 11, 23, 0.88);
          box-shadow: 60px 0 1px 1px rgba(3, 11, 23, 0.88);
}

.banner .img-banner .title-banner h1 {
  color: #fff;
  font-size: 1.7em;
  font-weight: 600;
}

.banner .img-banner .title-banner h4 {
  margin-top: 10px;
  color: #C6C8CB;
  font-weight: 500;
}

.banner .img-banner .title-banner p {
  margin-top: 10px;
  color: #C6C8CB;
}

.banner .img-banner .img-movie {
  width: 100%;
  height: 100%;
}

.banner .img-banner .img-movie img {
  border-radius: 10px;
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movies {
  margin-left: 53px;
  margin-top: 20px;
}

.movies .header-movies {
  width: 150px;
  margin-bottom: 20px;
}

.movies .header-movies h3 {
  color: #FFFFFF;
  cursor: pointer;
}

.movies .header-movies h3:hover {
  color: #0C3FC7;
}

.movies .movies-wrapper {
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(140px, 150px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 150px));
}

.movies .movies-wrapper .card-movies {
  height: 200px;
}

.movies .movies-wrapper .card-movies img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}
/*# sourceMappingURL=main.css.map */