* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #0C111B;
  font-size: 1em;
}

header {
  width: 100%;
}

header .navbar {
  width: 100%;
  top: 0;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  padding: 0 50px;
  margin: 0 auto;
  min-height: 66px;
}

header .navbar .nav-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 2fr;
      grid-template-columns: 0.5fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-left .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .nav-left .menu li {
  margin-left: 10px;
  list-style: none;
}

header .navbar .nav-left .menu li a {
  text-decoration: none;
  padding: 20px 15px;
  font-weight: 500;
  color: #C6C8CB;
}

header .navbar .nav-left .menu li a:hover {
  color: white;
}

header .navbar .nav-right {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-right: 120px;
}

header .navbar .nav-right .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navbar .nav-right .info li {
  list-style: none;
}

header .navbar .nav-right .info .language .lang {
  width: 28px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #C6C8CB;
  border-radius: 3px;
  padding: 1px 3px;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
  color: #C6C8CB;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

header .navbar .nav-right .info .language .lang:hover {
  background-color: #fff;
  color: #0C111B;
  border-color: #fff;
}

header .navbar .nav-right .info .login {
  margin-left: 30px;
  background-color: #1F80E0;
  border-radius: 4px;
  line-height: 24px;
  height: 24px;
}

header .navbar .nav-right .info .login a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 0 12px;
  font-size: 12px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}

header .navbar .nav-right .info .login:hover {
  background-color: #71a7dd;
}

header .navbar .nav-right .info .register {
  margin-left: 20px;
  background-color: #1F80E0;
  border-radius: 4px;
  line-height: 24px;
  height: 24px;
}

header .navbar .nav-right .info .register a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 0 12px;
  font-size: 12px;
  border: none;
  text-transform: uppercase;
}

header .navbar .nav-right .info .register a:hover {
  color: #fff;
}

header .navbar .nav-right .info .register:hover {
  background-color: #71a7dd;
}

header .navbar .nav-right .info .search {
  margin-left: 30px;
}

header .navbar .nav-right .info .search i {
  font-size: 1.4em;
  color: #01B4E4;
}

.banner {
  width: 100%;
}

.banner .img-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 2fr;
      grid-template-columns: 1.2fr 2fr;
  width: 92%;
  height: 400px;
  margin-top: 80px;
  margin-left: 53px;
  margin-right: 50px;
  background-color: #030B17;
  border-radius: 10px;
}

.banner .img-banner .title-banner {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 999;
  width: 100%;
  height: 400px;
  padding: 74px 51px;
  -webkit-box-shadow: 60px 0 1px 1px rgba(3, 11, 23, 0.88);
          box-shadow: 60px 0 1px 1px rgba(3, 11, 23, 0.88);
}

.banner .img-banner .title-banner h1 {
  color: #fff;
  font-size: 1.7em;
  font-weight: 600;
}

.banner .img-banner .title-banner h4 {
  margin-top: 10px;
  color: #C6C8CB;
  font-weight: 500;
}

.banner .img-banner .title-banner p {
  margin-top: 10px;
  color: #C6C8CB;
}

.banner .img-banner .img-movie {
  width: 100%;
  height: 100%;
}

.banner .img-banner .img-movie img {
  border-radius: 10px;
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.movies {
  margin-left: 53px;
  margin-top: 20px;
}

.movies .header-movies {
  width: 150px;
  margin-bottom: 20px;
}

.movies .header-movies h3 {
  color: #FFFFFF;
  cursor: pointer;
}

.movies .header-movies h3:hover {
  color: #0C3FC7;
}

.movies .movies-wrapper {
  margin-bottom: 100px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(140px, 150px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 150px));
}

.movies .movies-wrapper .card-movies {
  height: 200px;
}

.movies .movies-wrapper .card-movies img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.detail-movie {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.65fr 2fr;
      grid-template-columns: 0.65fr 2fr;
}

.detail-movie .poster {
  margin-left: 53px;
}

.detail-movie .poster .movie-card {
  margin-top: 40px;
  width: 300px;
  height: 448px;
  background-color: black;
}

.detail-movie .poster .movie-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.detail-movie .poster .movie-footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: 36px 125px;
      grid-template-columns: 36px 125px;
  width: 300px;
  height: 60px;
  background-color: #032541;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.detail-movie .poster .movie-footer .provider {
  height: 35px;
  background-color: white;
}

.detail-movie .poster .movie-footer .provider img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-movie .poster .movie-footer .text {
  margin-left: 13px;
}

.detail-movie .poster .movie-footer .text h5 {
  line-height: 17px;
  color: #ddd0d0;
}

.detail-movie .content {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 53px;
  margin-top: 40px;
}

.detail-movie .content .title-wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-movie .content .title-wrapper .title h1 {
  color: white;
  font-weight: 700;
  font-size: 35px;
}

.detail-movie .content .title-wrapper .title span {
  display: inline-block;
  font-size: 32px;
  color: #D0D0D2;
  font-weight: 500;
  margin-left: 7px;
}

.detail-movie .content .title-wrapper .info {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-movie .content .title-wrapper .info .genres {
  margin-left: 5px;
}

.detail-movie .content .title-wrapper .info .certification {
  margin-right: 5px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  padding: 0 5px;
  border-radius: 3px;
}

.detail-movie .content .action {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-movie .content .action .list {
  margin-left: 19px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: #032541;
}

.detail-movie .content .action .list i {
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

.detail-movie .content .action .vidio-trailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  color: #fff;
  margin-left: 19px;
}

.detail-movie .content .action .vidio-trailer p {
  margin-left: 10px;
  font-weight: 500;
}

.detail-movie .content .action .vidio-trailer i {
  font-size: 0.9em;
}

.detail-movie .content .action .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-movie .content .action .chart .percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #032541;
  border: 4px solid #D2D531;
}

.detail-movie .content .action .chart .percent h2 {
  color: #fff;
}

.detail-movie .content .action .chart .percent p {
  color: #fff;
  margin-left: 2px;
  font-size: 0.6em;
  margin-bottom: 12px;
  font-weight: 600;
}

.detail-movie .content .action .chart .user-score {
  color: #fff;
  font-weight: 600;
  margin-left: 10px;
}

.detail-movie .content .movie-info {
  margin-top: 25px;
}

.detail-movie .content .movie-info .tagline {
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
  color: #9C9BA0;
}

.detail-movie .content .movie-info .Overview {
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 15px;
}

.detail-movie .content .movie-info p {
  color: #fff;
  font-weight: 400;
  margin-top: 12px;
}

.detail-movie .content .people-info {
  margin-top: 22px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.detail-movie .content .people-info .profile p {
  color: #fff;
}

.detail-movie .content .people-info .profile:nth-child(2) {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail-movie .content .people-info .profile:nth-child(3) {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */